.list
  margin: 50px 0 50px
  
.list__title
  font-size: 1.3em
  
.list__container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
  grid-gap: 1em
  justify-items: center

@media screen and (max-width: 1095px)
  .list__container
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))