.navbar
  display: flex
  width: 100%
  height: 50px
  justify-content: center
  align-items: center
  background-color: #212121
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)

.navbar__link
  color: #fff
  text-decoration: none  