.search
  margin-top: 1em 
  padding: 2.5em 0 1em
  text-align: center

.search__form
  max-width: 800px
  height: 42px
  margin: 0 auto

.search__input
  height: 100%
  width: 80%
  padding: .75em
  font-size: 16px
  border-radius: 5px 0 0 5px
  border: 1px solid $border-color

.search__input:focus
  border: 1px solid $primary-color

.search__button
  height: 100%
  width: 20%
  color: #fff
  font-size: 16px
  font-weight: 600
  cursor: pointer
  border-radius: 0 5px 5px 0
  border: 1px solid $primary-color
  border-left: none
  background-color: $primary-color

.search__button:hover
  background-color: $secondary-color
  border: 1px solid $secondary-color