.results__home
  width: 100px
  
.results__link
  cursor: pointer
  margin: 0
  padding: .5em
  color: #fff
  text-align: center
  text-decoration: none
  background-color: $primary-color
  border: 1px solid $primary-color
  border-radius: 5px