.title
  display: flex
  position: relative
  height: 100%
  width: 100%
  margin: 0 10px

.title__image
  height: 100%
  width: 100%
  border-radius: 5px;

.title__overlay
  z-index: 999
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: auto
  padding: .25em 0 .5em
  text-align: center
  background: url(../img/title-overlay.png) top repeat-x;
  border-radius: 0 0 5px 5px

.title__name
  color: #fff
