.details *
  margin: 0
  padding: 0
  
.details__backdrop
  display: block
  position: fixed
  width: 100vw
  height: 100vh
  object-fit: cover
  z-index: -1

.details__wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-content: flex-start
  max-width: 920px
  // Substract height of navbar and footer to fill whole page
  min-height: calc(100vh - 100px)
  margin: 0 auto 
  padding: 1em
  background-color: $background-color
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)

.details__link
  width: 100%
  margin: 0 2.25em 1em

  a, p
    padding: .5em
    color: #fff
    text-decoration: none
    background-color: $primary-color
    border: 1px solid $primary-color
    border-radius: 5px

    &:hover
      background-color: $secondary-color
      border: 1px solid $secondary-color

.details__poster
  width: 50%
  max-width: 300px
  max-height: 450px

.details__main
  width: 50%

.main__container
  display: flex
  margin-bottom: 1.5em

.main__vote
  display: flex
  justify-content: center
  align-items: center
  height: 47px
  padding: 5px
  margin-right: 1em
  font-weight: 600
  border: 3px solid
  border-radius: 50%

.main__title
  display: inline

.main__release
  color: #606060

.main__item
  margin-bottom: .5em

.main__item:first-child
  margin-bottom: 1.5em

.details__overview
  padding: 1.5em  

@media screen and (max-width: 666px)
  .details__poster
    width: 100%
    margin-bottom: 1em 

  .details__main
    width: 100%